<div class="modal-body">
    <div class="row" style="margin-top: 2%;">
        <div class="col d-flex justify-content-center">
            <div class="col-md-12 text-center">
                <img src="assets/icons/error.png" style="height: 60px; width:60px;"
                class="img-responsive mon-icon" />&nbsp;<h4 class="text-center text-danger"
                style="font-size: 18px; font-weight: 700">{{errorMessage |translate }}</h4>
            </div>
        </div>
    </div>
    <!-- <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-6">
            <button class="pure-material-button-contained bg-primary" (click)="close()"><span>&nbsp;&nbsp;<i
                class='bx bxs-check-circle icon-btn'></i>&nbsp;&nbsp;{{ "OK" |
            translate }}&nbsp;&nbsp;</span></button>
        </div>
    </div> -->
</div>