.title2 {
    color: #3e8acc;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 10px 10px;
    width: 100%;
    margin-left: 1%;
    margin-left: 1.5%;
}

table {
    width: 100%;
}

.parent {
    font-size: 20px;
    font-weight: bold;
}

.parent:hover {
    visibility: visible;
}

.cscaneva:hover {
    cursor: pointer;
}