<div class="modal-body">
    <div class="row" style="margin-top: 2%;">
        <div class="col d-flex justify-content-center">
            <div class="col-md-12 text-center">
                <img src="assets/icons/success.png" style="height: 50px; width:50px;"
                class="img-responsive mon-icon" />&nbsp;<h4 class="text-center text-success"
                style="font-size: 18px; font-weight: 700">{{succesMessage |translate }}</h4>
            </div>
        </div>
    </div>
    <!-- <div class="row justify-content-center" style="margin-top: 2%;">
        <div class="col-6">
            <button class="pure-material-button-contained bg-primary" (click)="closeSucces()"><span>&nbsp;&nbsp;<i
                class='bx bxs-check-circle icon-btn'></i>&nbsp;&nbsp;{{ "OK" |
            translate }}&nbsp;&nbsp;</span></button>
        </div>
    </div> -->
</div>