<body>
  <div class="corp">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="macard box" style="margin-top: 1.5%; margin-bottom: 1%; width: 1200px;">
          <span class="mont" style="color: #ffffff; text-align: center;">
            <span class="font-weight-bold" style="font-size: 30px;text-align: center;">
              {{'MODULES PRINCIPAUX '|translate}}</span>
              <br>
            <span style="font-size: 20px;" class="text-primary">{{'Que voulez-vous faire ?'|translate}}</span>
            <hr style="margin-top: -0.3%; color: #ffffff; font-weight: 400; border-radius: 40px; font-size: 30px;" />
          </span>
          <div class="row align-middle">
            <div  class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod1')" pTooltip="{{'mod1Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod1.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod1'|translate}}</h6></div>
            </div>
            <div  class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod2')" pTooltip="{{'mod2Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod2.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod2'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod3')"  pTooltip="{{'mod3Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod3.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod3'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod4')" pTooltip="{{'mod4Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod4.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod4'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod5')" pTooltip="{{'mod5Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod5.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod5'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod6')" pTooltip="{{'mod6Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod6.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod6'|translate}}</h6></div>
            </div>
          </div>
          <div class="row align-middle">
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod7')" pTooltip="{{'mod7Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod7.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod7'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod8')" pTooltip="{{'mod8Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod8.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod8'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod9')" pTooltip="{{'mod9Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod9.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod9'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod10')" pTooltip="{{'mod10Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod10.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod10'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod11')" pTooltip="{{'mod11Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod11.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod11'|translate}}</h6></div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12 column text-center" (click)="getModule('mod12')" pTooltip="{{'mod12Label'|translate}}" tooltipPosition="top">
              <img src="assets/icons/mod12.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
              <div class="txt"><h6>{{'mod12'|translate}}</h6></div>
            </div>
          </div>
          <div class="row" style="margin-top: 1%">
            <!-- <hr /> -->
            <div class="col d-flex justify-content-center">
              <p-button icon="pi pi-file-import" (click)="logOut()" label="{{'lockSession'|translate}}"
                styleClass="p-button-danger p-button-text">
              </p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container box" style="margin-top: 1.5%">
      <div class="row">
        <div class="col d-flex justify-content-center">
          MODULE PRINCIPAUX
          <br />
          <span class="text-primary text-center font-weight-bold">Que voulez-vous faire ?</span>
          
        </div>
      </div>
     
      <div class="row" style="margin-top: 3%">
        <hr />
        <div class="col d-flex justify-content-center" style="margin-bottom: 1.7%">
          <p-button icon="pi pi-file-import" (click)="logOut()" label="{{'lockSession'|translate}}"
            styleClass="p-button-danger p-button-text">
          </p-button>
        </div>
      </div>
    </div> -->
    <!-- <div class="container">
      <div class="row align-middle">
        <div class="col-md-6 col-lg-4 col-sm-12 column"></div>
        <div *ngIf="habilitation('DU01')" class="col-md-6 col-lg-2 col-sm-12 column text-center"
          (click)="getModule('mod1')" pTooltip="{{'mod1Label'|translate}}" tooltipPosition="top">
          <img src="assets/icons/mod1.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
          <div class="txt">
            <h6>{{'mod1'|translate}}</h6>
          </div>
        </div>
        <div *ngIf="habilitation('DU02')" class="col-md-6 col-lg-2 col-sm-12 column text-center"
          (click)="getModule('mod2')" pTooltip="{{'mod2Label'|translate}}" tooltipPosition="top">
          <img src="assets/icons/mod2.png" style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
          <div class="txt">
            <h6>{{'mod2'|translate}}</h6>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12 column"></div>
      </div>
      <div class="row" style="margin-top: 10%">
        <hr />
        <div class="col d-flex justify-content-center" style="margin-bottom: 1.7%">
          <p-button icon="pi pi-file-import" (click)="logOut()" label="{{'lockSession'|translate}}"
            styleClass="p-button-danger p-button-text">
          </p-button>
        </div>
      </div>
    </div> -->
  </div>
</body>
<div class="progress-spinner" *ngIf="spinner==true" style="z-index: 9999">
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="dialogOnlineMode" [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <div class="container-fluid">
      <div class="row" *ngIf="onlineMode == true">
        <div class="col d-flex justify-content-center">
          <i class="fa fa-check-circle text-success icconf"></i>&nbsp;&nbsp;&nbsp;
          <span> {{ "onlineOk" | translate }} </span>
        </div>
      </div>
      <div class="row" *ngIf="onlineMode == false">
        <div class="col d-flex justify-content-center">
          <i class="fa fa-times-circle text-danger icconf"></i>&nbsp;&nbsp;&nbsp;
          <span> {{ "onlineKO" | translate }} </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-center" *ngIf="onlineMode == true">
                <img src="assets/icons/icons8-happy_cloud.png" style="height: 100px; width: 100px" alt=""
                  class="img-responsive mon-img" />
                <div class="txt"> <span class="smgOnlineOk">{{ "onlinemodeOk" | translate }}</span> </div>
                <br />
              </div>
              <div class="text-center" *ngIf="onlineMode == false">
                <img src="assets/icons/icons8-sad_cloud.png" style="height: 100px; width: 100px" alt=""
                  class="img-responsive mon-img" />
                <div class="txt"> <span class="smgOnlineOk">{{ "onlinemodeKO" | translate }}</span> </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="col d-flex justify-content-center">
      <!-- <button mat-raised-button color="secondary" (click)="closeSync()"> <mat-icon>cancel</mat-icon>&nbsp; <span>{{
          "fermer" | translate }}</span></button>&nbsp;&nbsp;
      <button *ngIf="onlineMode == true" mat-raised-button class="btn-add" (click)="synchroniser()">
        <mat-icon>cloud_upload</mat-icon>&nbsp;{{ "sychroniser" | translate }}
      </button> -->
    </div>
  </ng-template>
</p-dialog>

<p-dialog [modal]="true" header="Confirmation" [(visible)]="dialogConfirmSynch" [style]="{ width: '30vw' }">
  <ng-template pTemplate="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-center">
                <img src="assets/icons/icons8-cloud_done.png" style="height: 100px; width: 100px" alt=""
                  class="img-responsive mon-img" />
                <div class="txt"> <span class="smgPushOk">{{ "smgPushOk" | translate }}</span> </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="col d-flex justify-content-center">
      <!-- <button mat-raised-button color="secondary" (click)="dialogConfirmSynch = false">
        <mat-icon>cancel</mat-icon>&nbsp;
        <span>{{ "fermer" | translate }}</span>
      </button> -->
    </div>
  </ng-template>
</p-dialog>
<!-- ********************************** dialogConfirm ********************************** -->
<p-dialog [modal]="true" header="Confirmation" [(visible)]="dialogConfirm" [style]="{ width: '30vw' }">
  <ng-template pTemplate="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-center">
                <!-- <img
                  src="assets/icons/icons8-cloud_done.png"
                  style="height: 100px; width: 100px"
                  alt=""
                  class="img-responsive mon-img"
                /> -->
                <div class="txt"> <span class="smgPushOk">{{ messageSynch }}</span> </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <div class="col d-flex justify-content-center">
      <button mat-raised-button color="secondary" (click)="dialogConfirm = false"> <mat-icon>cancel</mat-icon>&nbsp; <span>{{ "non" | translate }}</span></button>&nbsp;&nbsp;
      <button mat-raised-button class="btn-add" (click)="synchroniser()"> <mat-icon>check</mat-icon>&nbsp;{{ "oui" | translate }} </button>
    </div> -->
  </ng-template>
</p-dialog>


<p-dialog [modal]="true" header="Confirmation" [(visible)]="errorDialog" [style]="{ width: '30vw' }">
  <ng-template pTemplate="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-center">
                <img *ngIf="color == 'rgb(255, 166, 0)'" src="assets/icons/notItem.png"
                  style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
                <img *ngIf="color == 'rgb(255, 34, 0)'" src="assets/icons/errorSynch.png"
                  style="height: 100px; width: 100px" alt="" class="img-responsive mon-img" />
                <div class="txt">
                  <span [style.color]="color" class="font-weight-bold">{{ messageSynch }}</span><br />
                  <span class="font-weight-bold" *ngIf="color == 'rgb(255, 34, 0)'"></span>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <div class="col d-flex justify-content-center">
      <button mat-raised-button color="secondary" (click)="errorDialog = false"> <mat-icon>cancel</mat-icon>&nbsp;
        <span>{{ "fermer" | translate }}</span></button>&nbsp;&nbsp;
      <button *ngIf="color == 'rgb(255, 166, 0)'" mat-raised-button class="btn-add"
        (click)="errorDialog = false; getdd()"> <mat-icon>refresh</mat-icon>&nbsp;{{ "Relancer" | translate }} </button>
      <button mat-button (click)="errorDialog = false; getdd()" *ngIf="color == 'rgb(255, 34, 0)'">
        <mat-icon class="text-success">search</mat-icon>&nbsp;<span class="text-success">{{ "Rechercher les elements à sysnchroniser" | translate }}</span>
      </button>
    </div> -->
  </ng-template>
</p-dialog>

<p-dialog [modal]="true" header="Confirmation" [(visible)]="onLocalDialog" [style]="{ width: '30vw' }">
  <ng-template pTemplate="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-center">
                <div class="txt"> <span [style.color]="color" class="font-weight-bold">{{ messageSynch }}</span> </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <div class="col d-flex justify-content-center">
      <button mat-raised-button color="secondary" (click)="onLocalDialog = false"> <mat-icon>cancel</mat-icon>&nbsp;
        <span>{{ "fermer" | translate }}</span></button>
    </div> -->
  </ng-template>
</p-dialog>

<!-- logout -->
<p-dialog [modal]="true" [(visible)]="logoutDialog" [style]="{ width: '400px' }" [modal]="true" [closable]="false"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <img src="assets/images/logo.png" style="height: 30px; width:30px;" class="img-responsive mon-icon" />&nbsp;
          <h4>{{ "disconnect" | translate }}</h4>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/icons/deconnexion.png" style="height: 70px; width:70px;"
          class="img-responsive mon-icon" />&nbsp;<h4 class="text-center text-danger"
          style="font-size: 20px; font-weight: 700; color: red">{{ "deconnecteQuest" | translate }}</h4>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="row justify-content-center">
      <button class="pure-material-button-contained bg-secondary" (click)="close()"><span>&nbsp;&nbsp;<i
            class='bx bxs-minus-circle icon-btn'></i>&nbsp;&nbsp;{{ "annuler" | translate }}&nbsp;&nbsp;</span></button>
      &nbsp;&nbsp;&nbsp;
      <button class="pure-material-button-contained bg-danger" (click)="logout()"><span>&nbsp;&nbsp;<i
            class='bx bxs-log-out icon-btn'></i>&nbsp;&nbsp;{{ "quitter" |
          translate }}&nbsp;&nbsp;</span></button>
    </div>
  </ng-template>
</p-dialog>
<div class="progress-spinner" *ngIf="displaySpinnerResearchData" style="z-index: 9999">
  <div class="d-flex justify-content-center">
    <p-progressSpinner styleClass="custom-spinner" strokeWidth="8" animationDuration=".7s" styleClass="w-4rem h-4rem"
      fill="var(--surface-ground)"></p-progressSpinner>
  </div>
  <div class="d-flex justify-content-center affiche">
    <div class="text-center" style="color: rgb(255, 255, 255); z-index: 9999">
      <img src="assets/icons/icons8-view.png" style="height: 100px; width: 100px" alt=""
        class="img-responsive mon-img" />
      <h6>{{ "searchSyn" | translate }}...</h6>
    </div>
  </div>
</div>
<div class="progress-spinner" *ngIf="displaySpinnerSynchData" style="z-index: 9999">
  <div class="d-flex justify-content-center">
    <p-progressSpinner styleClass="custom-spinner" strokeWidth="8" animationDuration=".7s" styleClass="w-4rem h-4rem"
      fill="var(--surface-ground)"></p-progressSpinner>
  </div>
  <div class="d-flex justify-content-center affiche">
    <!-- <div class="text-center" style="color: rgb(255, 255, 255); z-index: 9999">
      <img src="assets/icons/icons8-upload_to_cloud2.png" style="height: 100px; width: 100px" alt=""
        class="img-responsive mon-img" />
      <button mat-button color="secondary" (click)="dialogConfirm = false">
        <mat-icon color="warn">cancel</mat-icon>&nbsp;
        <span class="text-danger">{{ "stopOP" | translate }}</span>
      </button>
      <h6>{{ "sychtion" | translate }}...</h6>
    </div> -->
  </div>
</div>